@model IEnumerable<SiparisTakip.Models.Tables.Request>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "Home Page";
}
<style>
    li {
        cursor: all-scroll;
    }
</style>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Başlık</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-md-4">
                    <img id="RequestImage" src="~/images/img.jpg" class="img-thumbnail">
                    </div>
                    <div class="col col-md-8">
                        <p><strong>Müşteri Adı: </strong><span id="userName" style="text-transform:capitalize">userName</span></p>
                        <p><strong>Müşteri Soyadı: </strong><span id="userSurname" style="text-transform:capitalize">userSurname</span></p>
                        <p><strong>Müşteri E-Postası: </strong><span id="userMail">userMail</span></p>
                        <p><strong>Talep Tarihi: </strong> <span id="requestDeliveryDate">requestDeliveryDate</span></p>
                        <p><strong>Talep Numarası: </strong> <span id="requestNo">requestNo</span></p>
                        <p><strong>Talep Eden Departman: </strong><span id="requestDepartment">requestDepartment</span></p>
                        <p><strong>Talep Eden Personel: </strong><span id="requestSteff">requestSteff</span></p>
                        <p><strong>Açıklama: </strong><span id="requestDescription">requestDescription</span></p>
                        <p><strong>Tahmini Fiyat: </strong><span id="requestEstimatedPrice">requestEstimatedPrice</span></p>
                        <p><strong>Gider Yeri: </strong><span id="requestExpensePlace">requestExpensePlace</span></p>
                        <p><strong>Ürün Özellikleri: </strong><span id="requestProductFeatures">requestProductFeatures</span></p>
                        <p><strong>Proje: </strong><span id="requestProject">requestProject</span></p>
                        <p><strong>Miktar: </strong><span id="requestQuantity">requestQuantity</span></p>
                        <p><strong>Durum: </strong><span id="requestStatus">requestStatus</span></p>
                        <p><strong>Cinsi: </strong><span id="requestSpecies">requestSpecies</span></p>
                        <p><strong>Tedarik Firma 1: </strong><span id="requestSupplyCompany1">requestSupplyCompany1</span></p>
                        <p><strong>Tedarik Firma 2: </strong><span id="requestSupplyCompany2">requestSupplyCompany2</span></p>
                        <p><strong>Tedarik Firma 3: </strong><span id="requestSupplyCompany3">requestSupplyCompany3</span></p>
                        <p><strong>Excel: </strong><span id="requestExcel"></span></p>
                        <p><strong>PDF: </strong><span id="requestPDF"></span></p>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Talep Güncelle</h3>
            </div>

            <div class="title_right">
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Talep Formu </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="x_content">
                                <p><strong>Talep durumunu üzerine basılı tutup sürükleyerek değiştirebilirsiniz.</strong></p>
                                <p><strong>Talep detaylarına ulaşmak için talebe çift tıklayınız. </strong></p>
                            </div>
                            <div class="col-md-5 mt-2 mb-2">
                                <ul class="list-group onayBekleyen" style="min-height:300px" id="sortable1">
                                    <li ondblclick="myFunction()" class="list-group-item fixed bg-info text-white font-weight-bold text-center">Bekleyen Talepler</li>
                                    @foreach (var item in Model)
                                    {
                                        if (item.requestStatus == 0)
                                        {
                                            <li id="res-@item.requestId" ondblclick="RequestDetails(@item.requestId)" class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                        }

                                    }
                                </ul>
                            </div>
                            <div class="col-md-5 offset-md-2 mt-2 mb-2">
                                <ul class="list-group onaylanan" style="min-height:300px" id="sortable2">
                                    <li ondblclick="myFunction()" id="res-5" class="list-group-item fixed bg-success text-white font-weight-bold text-center">Onaylanan Talepler</li>
                                    @foreach (var item in Model)
                                    {
                                        if (item.requestStatus == 1)
                                        {
                                            <li id="res-@item.requestId" ondblclick="RequestDetails(@item.requestId)" class="list-group-item">@item.requestDepartment - @item.requestSteff - @item.requestProject</li>
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("ul.onayBekleyen").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
            dropOnEmpty: true

        });

        $("ul.onaylanan").sortable({
            items: "li:not(.fixed)",
            connectWith: "ul",
        });

        $("#sortable1, #sortable2, #sortable3").disableSelection();
        $("#sortable1").on("sortupdate", function (event, ui) {
            var data = $(this).sortable("serialize");
            AjaxPost(data, 0);
        });

        $("#sortable2").on("sortupdate", function (event, ui) {
            var data = $(this).sortable("serialize");
            AjaxPost(data, 1,"OK");
        });
    });

    function AjaxPost(data, status,alert) {
        let postData = {
            'data': data,
            'status': status
        }

    $.ajax({
        type: "post",
        data:postData,
    headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
    },
    url: '@Url.Action("RequestStatusEdit", "Request")',
        success: function (result) {
            console.log(result);
        if (alert !=null) {
           new PNotify({
                title: 'Sipariş Güncelleme',
                text: 'Sipariş başarıyla güncellendi',
                type: 'success',
                styling: 'bootstrap3'
            });
        }
    }
});

    }

    function RequestDetails(id) {
        $("#PDFButton").remove();
        $("#ExcelButton").remove();
        let postData = {
            'id': id
        }
            $.ajax({
        type: "post",
        data:postData,
        headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
      },
        url: '@Url.Action("RequestInfo", "Request")',
                success: function (result) {
                    result = JSON.parse(result)
                    var date = new Date(result.requestDeliveryDate);
                    let yr = date.getFullYear();
                    let month = date.getMonth() < 10 ? '0' + date.getMonth() : date.getMonth();
                    let day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
                    let newDate = day + '-' + month + '-' + yr;
                    let status = result.requestStatus;
                    let text = "";
                    if (status == 0)
                        text = `<span class="text-info"><strong>Onay Bekliyor</strong></span">`;
                    else
                        text = `<span class="text-success"><strong>Onaylandı</strong></span">`;
                    console.log(result.requestNo+"<<<");
                    let image = "images/" + result.requestImage;
                    let pdf   = "pdf/" + result.requestPDF;
                    let excel = "excel/" + result.requestExcel;



                    $("#userName").text("");
                    $("#userSurname").text("");
                    $("#userMail").text("");
                    $("#RequestImage").attr('src', "");
                    $("#requestDeliveryDate").text("");
                    $("#requestNo").text("");
                    $("#requestSpecies").text("");
                    $("#requestDepartment").text("");
                    $("#requestDescription").text("");
                    $("#requestEstimatedPrice").text("");
                    $("#requestExpensePlace").text("");
                    $("#requestProductFeatures").text("");
                    $("#requestProject").text("");
                    $("#requestStatus").html("");
                    $("#myModalLabel").text("");
                    $("#requestQuantity").text("");
                    $("#requestSteff").text("");
                    $("#requestSupplyCompany1").text("");
                    $("#requestSupplyCompany2").text("");
                    $("#requestSupplyCompany3").text("");
                    $("#requestPDF").text("");
                    $("#requestExcel").text("");













                    $("#userName").text(result.user.userName);
                    $("#userSurname").text(result.user.userSurname);
                    $("#userMail").text(result.user.userMail);
                    $("#RequestImage").attr('src', image);
                    $("#requestDeliveryDate").text(newDate);
                    $("#requestNo").text(result.requestNo);
                    $("#requestSpecies").text(result.requestSpecies);
                    $("#requestDepartment").text(result.requestDepartment);
                    $("#requestDescription").text(result.requestDescription);
                    $("#requestEstimatedPrice").text(result.requestEstimatedPrice);
                    $("#requestExpensePlace").text(result.requestExpensePlace);
                    $("#requestProductFeatures").text(result.requestProductFeatures);
                    $("#requestProject").text(result.requestProject);
                    $("#requestStatus").html(text);
                    $("#myModalLabel").text(result.user.userName + " " + result.user.userSurname + " - " + result.requestProject + " - " + result.requestNo);
                    $("#requestQuantity").text(result.requestQuantity);
                    $("#requestSteff").text(result.requestSteff);
                    $("#requestSupplyCompany1").text(result.requestSupplyCompany1);
                    $("#requestSupplyCompany2").text(result.requestSupplyCompany2);
                    $("#requestSupplyCompany3").text(result.requestSupplyCompany3);
                    if (result.requestPDF != "-") {
                        var a = document.createElement('a');

                        // Create the text node for anchor element. 
                        var link = document.createTextNode("PDF İndir");

                        // Append the text node to anchor element. 
                        a.appendChild(link);

                        // Set the title. 
                        a.title = "PDF";
                        a.id = "PDFButton";

                        // Set the href property. 
                        a.href = pdf;
                        a.className = "btn btn-danger btn-sm";

                        // Append the anchor element to the body. 
                        document.getElementById('requestPDF').appendChild(a);  
                    } else {
                        $("#requestPDF").text("PDF Eklenmedi");
                    }



                    if (result.requestExcel != "-") {
                        var a = document.createElement('a');

                        // Create the text node for anchor element. 
                        var link = document.createTextNode("Excel İndir");

                        // Append the text node to anchor element. 
                        a.appendChild(link);

                        // Set the title. 
                        a.title = "Excel";
                        a.id = "ExcelButton";
                        // Set the href property. 
                        a.href = excel;
                        a.className = "btn btn-primary btn-sm";

                        // Append the anchor element to the body. 
                        document.getElementById('requestExcel').appendChild(a);
                    } else {
                        $("#requestExcel").text("Excel Eklenmedi");
                    }



      

                    $('.modal').modal('show');
    }
    });
}
</script>